	<body>
		<div class="area-a">

			<div class="header" >
				<ul>
					<li class="header_logo" >Header Logo</li>
				</ul>

				<ul class="headers" >
					<li>
            <select #langSelect (change)="changeLang(langSelect.value)">
              <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
            </select>
					</li>
					<li>
            <a href="#">{{ 'HOME.HEADER1' | translate }}</a>
					</li>
					<li>
            <a href="#">{{ 'HOME.HEADER2' | translate }}</a>
					</li>
				</ul>
			</div>
			<div class="under-header">

				<div class="A">
					<h1
          class="title"
						>
            {{ 'HOME.TITLE' | translate }}
					</h1>
          {{ 'HOME.BODY' | translate }}
					<button class="signup_btn"
						>
          {{ 'HOME.SIGNUP' | translate }}
					</button>
				</div>
				<div class="B">
				</div>

			</div>

		</div>

	</body>
