<!--<div>{{ 'HOME.HELLO {value}' | translate: {value: 'World !'} }}</div>-->
<!--<div>{{ 'HOME.TITLE' | translate }}</div>

-->

<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>landing page</title>
	</head>

	<body>
		<div class="area-a">

			<div class="header" style="margin-bottom: 100px">
				<ul>
					<li style="color: #F9FAF8; font-size: 24px; font-weight: 600;">Header Logo</li>
				</ul>

				<ul style="color: #E5E7EB; font-size: 18px; gap: 25px;">
					<li>
            <select #langSelect (change)="changeLang(langSelect.value)">
              <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
            </select>
					</li>
					<li>
            <a href="#">{{ 'HOME.HEADER1' | translate }}</a>
					</li>
					<li>
            <a href="#">{{ 'HOME.HEADER2' | translate }}</a>
					</li>
				</ul>
			</div>
			<div class="under-header">

				<div class="A">
					<h1
					style="margin-bottom: 10px;"
						>
            {{ 'HOME.TITLE' | translate }}
					</h1>
          {{ 'HOME.BODY' | translate }}
					<button style="width: 140px; padding-top: 5px; padding-bottom: 5px;
					background-color: #3882F6; border-width: 0px; border-radius: 8px; font-size: 18px; font-weight: bold;
					color: #E5E7EB;margin-top: 10px;"
						>
          {{ 'HOME.SIGNUP' | translate }}
					</button>
				</div>
				<div class="B">
				</div>

			</div>

		</div>

	</body>

</html>
